body{
  margin: 0;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(203, 231, 231);
  height: 85vh;
  width: 160vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.text{
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#textContainer {
  margin: 20px;
  width: 130vh;
  background-color: white;
  padding: 20px;
  height: 200px;
}

.title {
  color: blue;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}



  